<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h2>prukop interactive</h2>
<p>the digital portfolio of Justin Prukop</p>
</br>
{{ if .CurrentTime }}
<h3>Current time: {{.CurrentTime}}</h2>
{{end}}
</body>
</html>